---
layout: default
---

<h1>Planets of the Universe</h1>
<p>Lots of Planets in the Universe</p>

<h2>Planets in our Solar System</h2>

<h2>Types of Planets by size:</h2>

<ol>
  {% for post in site.data.planet-types %}
  <li>
    <a href="{{site.baseurl}}/planets/{{post.folder}}">{{post.title}}</a>
  </li>
  {{post.content | markdownify }} {% endfor %}
</ol>

<h2>Recent Posts</h2>

<ul>
  {% for post in site.categories.reports limit: 1 %}
  <li>
    <a href="">{{post.title}}</a>
    <p>{{post.meta}}</p>
  </li>
  {% endfor %}
</ul>
